<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-Main" version="1.0.2856.0" />
  <package id="Simple.Data.Core" version="0.5.0.2" />
  <package id="mongocsharpdriver" version="0.11.0.4042" />
  <package id="mongocsharpdriver" version="1.0" />
  <package id="Simple.Data.Core" version="0.6.1" />
</packages>