<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="mongocsharpdriver" version="0.11.0.4042" />
  <package id="mongocsharpdriver" version="1.3.1" />
  <package id="NUnit" version="2.5.9.10348" />
  <package id="Rx-Core" version="1.0.2856.0" />
  <package id="Rx-Main" version="1.0.2856.0" />
  <package id="Simple.Data.Core" version="0.5.0.2" />
  <package id="Simple.Data.Core" version="0.12.2.2" />
</packages>